<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="INFS3204Prac3.SiteMaster" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <title><%: Page.Title %> - My ASP.NET Application</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="/Scripts/jquery-1.9.0.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="padding-top: 60px;">
    <form runat="server">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" runat="server" href="~/">INFS3204 Prac 4</a>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="/ADODatabaseService.svc"><span class="glyphicon glyphicon-cog"></span> ADODatabaseService.svc</a></li>
                    <li><a href="/PlayerReg.aspx"><span class="glyphicon glyphicon-user"></span> New Player</a></li>
                    <li><a href="/ClubReg.aspx"><span class="glyphicon glyphicon-home"></span> New Club</a></li>
                    <li><a href="/NewMembership.aspx"><span class="glyphicon glyphicon-book"></span> New Membership</a></li>
                    <li><a href="/UpdateMembership.aspx"><span class="glyphicon glyphicon-edit"></span> Update Membership</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container body-content">
                <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
            </div>
        </div>
    </form>
</body>
</html>
